.Card {
  display: block;
  padding-bottom: 3rem;
  text-decoration: none;
  border-radius: 0.5rem;
  overflow: hidden;
  color: var(--font-secondary);
  text-align: center;

  &:link,
  &:visited {
    border: 0;
  }
  &:hover,
  &:active {
    border: 0;
  }
  h3 {
    margin-top: 0;
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: var(--font-primary);
  }
  p {
    margin: 0;
    font-size: 1.125rem;
    color: var(--font-secondary);
  }
  picture {
    margin-top: 3rem;
  }
  .title {
    padding-top: 2rem;
  }
}
