.Card {
  padding: 2rem 1rem;
  color: var(--font-inverted);
  background: var(--background-inverted);
  text-decoration: none;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  * {
    color: var(--font-inverted);
  }
}
