@import "../../styles/variables.scss";

.Button {
  display: inline-block;
  margin: 1rem 0;
  @media (min-width: $sm) {
    margin: 2rem 0;
  }
  &.solid {
    background-color: var(--primary);
    color: var(--font-primary);
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 1.5rem 3rem;
  }
  &:link,
  &:visited {
    border: 0;
  }
  &:hover,
  &:active {
    border: 0;
  }
  // &.underline {
  //   background-color: transparent;
  //   color: inherit;
  //   font-weight: 700;
  //   font-size: inherit;
  //   text-decoration: none;
  //   border-bottom: 6px solid var(--primary);
  //   line-height: inherit;
  // }
}
