@import "../../styles/variables.scss";

.Button {
  display: inline-block;
  margin: 1rem 0;
  @media (min-width: $sm) {
    margin: 2rem 0;
  }
  &.solid {
    background-color: var(--primary);
    color: var(--background);
    font-weight: 700;
    font-size: 0.7rem;
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 0.75rem 1rem 0.7rem;
    &:link,
    &:visited {
      border: 0;
    }
    &:hover,
    &:active {
      border: 0;
    }
  }
}
