@use "../../styles/variables";

.main {
  z-index: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  opacity: 0;
  animation: fadeIn 1800ms ease-out 180ms forwards;
  @media (min-width: variables.$md) {
    padding: 6rem 0;
  }
}

.container {
  padding: 0 var(--gutter);
  width: 100%;
  max-width: 90rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
