@import "../../styles/variables";

.main {
  z-index: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 1rem;
  @media (min-width: $md) {
    padding: 0 2rem;
  }
}
