@import "../../styles/variables";

.project {
  display: block;
  will-change: transform;
  width: 100%;
  margin: 1rem 0;
  @media (min-width: $sm) {
    margin: 2rem 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1;
    color: var(--font-primary);
  }
  h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--font-secondary);
  }

  &:link,
  &:visited {
    .previewImage {
      transform: scale(1);
      transition: transform ease-in 350ms;
    }
  }
  &:hover,
  &:active {
    .previewImage {
      transform: scale(1.05);
      transition: transform ease-out 1250ms;
    }
  }
}

.previewImage {
  width: 100%;
  margin-bottom: 1rem;
}
