// App config
// sass-lint:disable indentation

$font-size: 18px;
$font-scaling: 1.15;
$line-height: 1.8;
$line-height--heading: 1.25;

$spacing: $based_spacing; //see config.based
$breakpoints: $based_grid-breakpoints; //see config.based

// $color-primary: #8cf31d;
// $color-primary: #1d96f3;
// 35f27c
// v1
// $color-primary: #f2ec35;
// $color-secondary: hsl(0,0,55%);
// $color-black: hsl(0,0,8%);
// $color-white: hsl(0,0,90%);

// $color-primary: #286efa;
$color-primary: #1d62d1;
$color-secondary: #888;
$color-black: #000;
$color-white: #fff;

$css-colors: (
    black: $color-black,
    white: $color-white,
    primary: $color-primary,
    secondary: $color-secondary,
  )
  !default;
