@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/inter-tight";

:root {
  /* Colors */
  --color-black: hsl(0, 0%, 7%);
  --color-white: hsl(0, 0%, 98%);
  --color-muted: hsl(0, 0%, 55%);

  /* Theme */
  --radius: 0.625rem;
  --background: var(--color-black);
  --foreground: var(--color-white);

  /* Button */
  --button-text: var(--color-foreground);
  --button-text-hover: var(--color-foreground);
  --button-text-muted: var(--color-muted);
  --button-text-muted-hover: var(--color-foreground);
  --focus-ring: var(--color-foreground);

  /* Line Heights */
  --line-height-none: 1;
  --line-height-tight: 1.15;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
  --line-height-loose: 2;

  /* Letter Spacing */
  --letter-spacing-tightest: -0.0625em;
  --letter-spacing-tighter: -0.03125em;
  --letter-spacing-tight: -0.015625em;
  --letter-spacing-normal: normal;
  --letter-spacing-wide: 0.02125em;
  --letter-spacing-wider: 0.0625em;
  --letter-spacing-widest: 0.09375em;

  /* Spacing */
  --flow-space: 1.5rem;
  --flow-space-s: 1rem;

  /* Animation */
  --duration-immediate: 0s;
  --duration-faster: 0.15s;
  --duration-fast: 0.25s;
  --duration-slow: 0.35s;
  --duration-slower: 0.45s;
  --duration-slowest: 0.65s;

  /* Easing */
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --spring-glide: linear(
    0,
    0.012 0.9%,
    0.05 2%,
    0.411 9.2%,
    0.517 11.8%,
    0.611 14.6%,
    0.694 17.7%,
    0.765 21.1%,
    0.824 24.8%,
    0.872 28.9%,
    0.91 33.4%,
    0.939 38.4%,
    0.977 50.9%,
    0.994 68.4%,
    1
  );

  /* Delay */
  --delay-none: 0ms;
  --delay-fast: 50ms;
  --delay-slow: 160ms;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--color-muted);
  --color-border: var(--color-muted);
  --color-ring: var(--foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-tight: "Inter Tight Variable", sans-serif;
  --color-black: var(--color-black);
  --color-white: var(--color-white);
  --color-muted: var(--color-muted);

  --animate-slide-in-from-top: slide-in-from-top 0.65s var(--ease-out-cubic)
    0.5s both;
  @keyframes slide-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-60%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in: fade-in 0.65s var(--ease-out-cubic) 0.5s both;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html,
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* Text flow */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow * + :is(h1, h2) {
  --flow-space: var(--flow-space-l, 1em);
}

.flow :is(h1, h2, h3) + * {
  --flow-space: var(--flow-space-s, 1em);
}

/* Image events */
img,
svg {
  pointer-events: none;
  user-select: none;
}

.header-container::after {
  pointer-events: none;
  content: " ";
  z-index: 100;
  position: fixed;
  bottom: 1px; /* 1px is to overlap the bottom of the header */
  left: 0;
  width: 100%;
  height: 12vh;
  transform: translateY(100%);
  background: linear-gradient(
    to top,
    hsla(0, 0%, 7%, 0) 0%,
    hsla(0, 0%, 7%, 0.013) 10.3%,
    hsla(0, 0%, 7%, 0.049) 19.3%,
    hsla(0, 0%, 7%, 0.104) 27.2%,
    hsla(0, 0%, 7%, 0.175) 34.2%,
    hsla(0, 0%, 7%, 0.259) 40.4%,
    hsla(0, 0%, 7%, 0.352) 46%,
    hsla(0, 0%, 7%, 0.45) 51.2%,
    hsla(0, 0%, 7%, 0.55) 56.2%,
    hsla(0, 0%, 7%, 0.648) 61.2%,
    hsla(0, 0%, 7%, 0.741) 66.3%,
    hsla(0, 0%, 7%, 0.825) 71.7%,
    hsla(0, 0%, 7%, 0.896) 77.6%,
    hsla(0, 0%, 7%, 0.951) 84.2%,
    hsla(0, 0%, 7%, 0.987) 91.6%,
    hsl(0, 0%, 7%) 100%
  );
}
