@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/inter-tight";

:root {
  /* Colors */
  --color-black: #111;
  --color-white: hsl(203 47% 98% / 1);
  --color-muted: hsl(203 20% 68% / 1);

  /* Theme */
  --radius: 0.625rem;
  --background: var(--color-black);
  --foreground: var(--color-white);

  /* Button */
  --button-text: var(--color-foreground);
  --button-text-hover: var(--color-foreground);
  --focus-ring: var(--color-foreground);
  --button-text-transition-duration: 325ms;

  /* Line Heights */
  --line-height-none: 1;
  --line-height-tight: 1.15;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
  --line-height-loose: 2;

  /* Letter Spacing */
  --letter-spacing-tightest: -0.0625em;
  --letter-spacing-tighter: -0.03125em;
  --letter-spacing-tight: -0.015625em;
  --letter-spacing-normal: normal;
  --letter-spacing-wide: 0.02125em;
  --letter-spacing-wider: 0.0625em;
  --letter-spacing-widest: 0.09375em;

  /* Animation */
  --duration-immediate: 0s;
  --duration-faster: 0.15s;
  --duration-fast: 0.25s;
  --duration-slow: 0.35s;
  --duration-slower: 0.45s;
  --duration-slowest: 0.65s;

  --ease-in-out-custom: cubic-bezier(0.45, 0, 0.1, 1);
  --delay-none: 0ms;
  --delay-fast: 50ms;
  --delay-slow: 160ms;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--color-muted);
  --color-border: var(--color-muted);
  --color-ring: var(--foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-tight: "Inter Tight Variable", sans-serif;
  --color-black: var(--color-black);
  --color-white: var(--color-white);
  --color-muted: var(--color-muted);

  --animate-slide-in-from-top: slide-in-from-top 1.25s var(--ease-in-out-custom)
    0.25s both;
  @keyframes slide-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in: fade-in 1.25s var(--ease-in-out-custom) 0.125s both;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html,
body {
  font-family: var(--font-sans);
  font-variation-settings: "wght" 400;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  position: relative;
}

/* Text flow */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow * + :is(h1, h2) {
  --flow-space: var(--flow-space-l, 1em);
}

.flow :is(h1, h2, h3) + * {
  --flow-space: var(--flow-space-s, 1em);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: pretty;
}

/* Image events */
img,
svg {
  pointer-events: none;
  user-select: none;
}
