@import "../../styles/_variables.scss";

.Main {
  position: relative;
  margin: 0 auto;
  margin-top: calc(6rem + 44px);
  margin-bottom: 4rem;
  max-width: $lg;
  min-height: 100vh;
  @media (min-width: $sm) {
    margin-top: calc(8rem + 44px);
  }
}
