@import "../../styles/_variables.scss";

.main {
  position: relative;
  margin: 0 auto;
  margin-top: calc(6rem + 44px);
  margin-bottom: 4rem;
  max-width: $lg;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
