.buttonBase {
  /* Reset styles */
  appearance: none;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  /* Positioning */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  /* Button styles */
  border-radius: var(--radius-xs);

  /* Font style */
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-align: center;
  white-space: nowrap;
  padding: 0;

  &:focus-visible {
    outline: 2px solid var(--focus-ring, #2684ff);
    outline-offset: 2px;
  }

  &:disabled {
    pointer-events: none;
  }
}

.buttonTransitionText {
  padding: 0.3rem 0;
  background-color: transparent;
  display: grid;
  place-items: center;
  overflow: hidden; /* fallback */
  overflow: clip;
}

.buttonTransitionText span {
  --scale-factor: 0.98;
  --translate-factor: 80%;
  grid-area: 1/1;
  color: var(--button-text-muted);
  transition-property: transform, color, opacity;
  transition-duration: 325ms;
  transition-timing-function: var(--ease-in-out-cubic);
  transition-delay: var(--delay-fast);
  @supports (transition-timing-function: linear(0, 1)) {
    transition-duration: 750ms;
    transition-timing-function: var(--spring-glide);
  }
}

.buttonTransitionText span:last-of-type {
  transform: translateY(var(--translate-factor)) scale(var(--scale-factor));
  opacity: 0;
}

@media (pointer: fine) and (hover: hover) {
  .buttonTransitionText:hover,
  .buttonTransitionText:focus-visible,
  .buttonTransitionText:global(.is-active) {
    span {
      color: var(--button-text-muted-hover);
    }
    span:first-of-type {
      transform: translateY(calc(var(--translate-factor) * -1))
        scale(var(--scale-factor));
      opacity: 0;
    }
    span:last-of-type {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

@media (pointer: coarse) and (hover: none) {
  .buttonTransitionText:global(.is-active) {
    span:first-of-type {
      transform: translateY(calc(var(--translate-factor) * -1))
        scale(var(--scale-factor));
      opacity: 0;
    }
    span:last-of-type {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .buttonTransitionText span {
    transition: none;
  }
}
