.buttonBase {
  /* Reset styles */
  appearance: none;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  /* Positioning */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  /* Button styles */
  border-radius: var(--radius-xs);

  /* Font style */
  color: var(--button-text);
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-align: center;
  white-space: nowrap;
  padding: 0;

  &:focus-visible {
    outline: 2px solid var(--focus-ring, #2684ff);
    outline-offset: 2px;
  }

  &:disabled {
    pointer-events: none;
  }
}

.buttonTransitionText {
  padding: 1px 0;
  background-color: transparent;
  overflow: hidden; /* fallback */
  overflow: clip;
}

.buttonTransitionText span {
  position: relative;
  color: var(--button-text);
  transition-property: transform, color;
  transition-duration: var(--button-text-transition-duration);
  transition-timing-function: var(--ease-in-out-cubic);
  transition-delay: var(--delay-fast);
  will-change: transform;
}

.buttonTransitionText span::after {
  display: block;
  content: attr(data-text) / "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
}

@media (pointer: fine) and (hover: hover) {
  .buttonTransitionText:hover span,
  .buttonTransitionText:focus-visible span,
  .buttonTransitionText:global(.is-active) span {
    color: var(--button-text-hover);
    transform: translateY(-100%);
  }
}

@media (pointer: coarse) and (hover: none) {
  .buttonTransitionText:global(.is-active) span {
    color: var(--button-text-hover);
    transform: translateY(-100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .buttonTransitionText span {
    transition: none;
  }
}
