@import "../../styles/variables";

.navigation {
  padding: 0 1rem;
  min-height: calc(44px * 3);
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background);
  background: linear-gradient(
    to bottom,
    hsl(231, 25%, 10%) 0%,
    hsla(231, 25%, 10%, 0.987) 8.1%,
    hsla(231, 25%, 10%, 0.951) 15.5%,
    hsla(231, 25%, 10%, 0.896) 22.5%,
    hsla(231, 25%, 10%, 0.825) 29%,
    hsla(231, 25%, 10%, 0.741) 35.3%,
    hsla(231, 25%, 10%, 0.648) 41.2%,
    hsla(231, 25%, 10%, 0.55) 47.1%,
    hsla(231, 25%, 10%, 0.45) 52.9%,
    hsla(231, 25%, 10%, 0.352) 58.8%,
    hsla(231, 25%, 10%, 0.259) 64.7%,
    hsla(231, 25%, 10%, 0.175) 71%,
    hsla(231, 25%, 10%, 0.104) 77.5%,
    hsla(231, 25%, 10%, 0.049) 84.5%,
    hsla(231, 25%, 10%, 0.013) 91.9%,
    hsla(231, 25%, 10%, 0) 100%
  );
  @media (min-width: $md) {
    padding: 0 2rem;
  }
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;
  }
  a {
    &:link,
    &:visited {
      pointer-events: all;
      color: var(--font-primary);
      font-size: 0.8rem;
      font-weight: 800;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      color: #fff;
    }
  }
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrowLeft {
  width: 20px;
  height: 20px;
  fill: #fff;
}

a.button {
  &:link,
  &:visited {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--font-primary);
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 0.1875rem;
    padding: 0.3rem 1rem 0.25rem;
  }
  &:hover,
  &:active {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--font-primary);
  }
}
