.TopBar {
  padding: 1rem 0;
  // width: 100%;
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 20;
  position: relative;
  z-index: 20;
  p {
    font-size: 1.125rem;
    color: var(--font-primary);
    margin: 0;
  }
}
