@use "../../styles/variables";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.emoji {
  color: var(--font-primary);
  opacity: 1;
  font-size: 1.15rem;
}
