@use "../../styles/variables";

.footer {
  width: 100%;
  max-width: 45rem;
  margin: 5rem 0 0;
}

.emoji {
  color: var(--font-primary);
  font-size: 4.5rem;
  display: inline-block;
  transform: translateY(2px);
}
