@use "../../styles/variables";

.footer {
  width: 100%;
  max-width: 45rem;
  margin: 2rem 0 5rem;
  padding: 0 1rem;
}

.peace {
  fill: var(--font-primary);
  width: 14px;
  height: auto;
  transform: translateY(4px);
}
