<h2 id="background-title" class="sr-only">Background</h2>
<section
  class="px-10 py-32 min-h-screen flex flex-col gap-y-24 lg:gap-y-32"
  aria-labelledby="background-title"
>
  <div class="grid grid-cols-12 gap-y-2 lg:gap-x-16">
    <div class="col-span-12 lg:col-span-5 flex flex-col gap-y-2">
      <h3 class="text-2xl">Studio Mega</h3>
      <h4 class="text-5xl font-tight">Technical Director</h4>
    </div>
    <p class="col-span-12 lg:col-span-7 2xl:col-span-6 text-muted">
      Led projects from initial scope through final delivery, collaborating
      across account, project, and design teams to shape UI/UX and ensure
      high-quality, on-brand experiences. Clients included
      <strong class="text-foreground font-normal">Pepsi</strong>,
      <strong class="text-foreground font-normal">Tropicana</strong>,
      <strong class="text-foreground font-normal">Starry</strong>,
      <strong class="text-foreground font-normal">IZZE</strong>, and
      <strong class="text-foreground font-normal">Powder Mountain</strong>.
    </p>
  </div>
  <div class="grid grid-cols-12 gap-y-2 lg:gap-x-16">
    <div class="col-span-12 lg:col-span-5 flex flex-col gap-y-2">
      <h3 class="text-2xl">Cinco</h3>
      <h4 class="text-5xl font-tight">Technical Director</h4>
    </div>
    <p class="col-span-12 lg:col-span-7 2xl:col-span-6 text-muted">
      Oversaw digital projects in a fast-paced, design-first environment,
      managing everything from proposals and SOWs to dev strategy and
      implementation. Led both new builds and platform optimization for clients
      like <strong class="text-foreground font-normal">The James Brand</strong>,
      <strong class="text-foreground font-normal">Nike</strong>,
      <strong class="text-foreground font-normal">Gogoro</strong>, and
      <strong class="text-foreground font-normal">Nextbit</strong>.
    </p>
  </div>
  <div class="grid grid-cols-12 gap-y-2 lg:gap-x-16">
    <div class="col-span-12 lg:col-span-5 flex flex-col gap-y-2">
      <h3 class="text-2xl">Fuzzco</h3>
      <h4 class="text-5xl font-tight">Director of Technology</h4>
    </div>
    <p class="col-span-12 lg:col-span-7 2xl:col-span-6 text-muted">
      Managed a small dev team and streamlined tech processes across a portfolio
      of WordPress-based sites. Balanced hands-on development with project and
      account management for clients including
      <strong class="text-foreground font-normal">Obey</strong>,
      <strong class="text-foreground font-normal">Hugh & Crye</strong>, and a
      range of small-to-midsize brands.
    </p>
  </div>
  <div class="grid grid-cols-12 gap-y-2 lg:gap-x-16">
    <div class="col-span-12 lg:col-span-5 flex flex-col gap-y-2">
      <h3 class="text-2xl">The Brigade</h3>
      <h4 class="text-5xl font-tight">Partner & Director of Technology</h4>
    </div>
    <p class="col-span-12 lg:col-span-7 2xl:col-span-6 text-muted">
      Co-founded and helped grow a digital agency from the ground up. Led new
      business, project planning, and front-end development for clients like
      <strong class="text-foreground font-normal">Spotify</strong>,
      <strong class="text-foreground font-normal">Intel</strong>, and
      <strong class="text-foreground font-normal">Mindjet</strong>, with a
      strong focus on delivering high-quality, design-aligned solutions.
    </p>
  </div>
</section>
