---
import { CopyToClipboard } from "@/components/CopyToClipboard";
---

<header
  class="flex justify-between items-center px-6 md:px-10 py-3 fixed top-0 left-0 right-0 bg-background text-sm z-10 animate-slide-in-from-top header-container"
>
  <div class="flex justify-between items-center w-full max-w-7xl mx-auto">
    <h1 class="font-medium text-md" aria-label="Site title">Nathan Searles</h1>
    <p
      class="hidden md:block font-medium text-md"
      aria-label="Site description"
    >
      Design Engineer & Tech Lead
    </p>
    <p class="font-medium text-md" aria-label="Email address">
      <CopyToClipboard text="nsearles@gmail.com" client:load />
    </p>
  </div>
</header>
