<header
  class="flex justify-between items-center mx-10 py-4 border-b border-gray fixed top-0 left-0 right-0 bg-background"
>
  <p>Nathan Searles</p>
  <p>Front-end Developer and Technical Lead</p>
  <p>nsearles@gmail.com</p>
</header>
