<h2 id="intro-title" class="sr-only">Intro</h2>
<section
  class="px-6 md:px-10 py-32 md:min-h-screen flex flex-col justify-center"
  aria-labelledby="intro-title"
>
  <p
    class="text-3xl md:text-6xl lg:text-6xl 2xl:text-7xl font-tight md:mt-14 animate-fade-in"
  >
    I&rsquo;m a front-end developer and technical lead who bridges the gap
    between design and code. I build fast, accessible interfaces that feel great
    to use—whether I&rsquo;m deep in the code or leading a team. From design
    systems to complex builds, I focus on thoughtful, design-driven digital
    experiences.
  </p>
</section>
