---
import { Image } from "astro:assets";
import portrait from "@/assets/images/nathan-searles-portrait.jpg";
---

<h2 id="values-title" class="sr-only">Values</h2>
<section
  class="px-6 md:px-10 py-16 md:py-32 flex flex-col gap-y-16 md:gap-y-24 lg:gap-y-32"
  aria-labelledby="values-title"
>
  <div class="grid grid-cols-12 gap-y-6 md:gap-x-8 max-w-7xl w-full mx-auto">
    <div class="col-span-4 lg:col-start-2 flex flex-col">
      <div
        class="rounded-full md:rounded-md overflow-hidden relative aspect-square md:aspect-auto"
      >
        <Image
          src={portrait}
          alt="Nathan Searles"
          width={1112}
          height={1483}
          class="w-full object-cover"
        />
      </div>
    </div>
    <div class="col-span-12 md:col-span-8 lg:col-span-6 flow">
      <h2 class="text-xl font-medium">
        I work where design meets development, turning ideas into digital
        experiences that feel smooth and intuitive.
      </h2>

      <p class="text-xl font-medium text-muted">
        I like getting involved early, collaborating with designers,
        strategists, and clients to shape the vision and figure out what&rsquo;s
        possible.
      </p>

      <p class="text-xl font-medium text-muted">
        Focusing on the details of UI, UX, spacing, and interactions, while also
        building scalable components and solid foundations that last. Whether
        I&rsquo;m coding, reviewing, or leading a team, I focus on clear
        communication, efficient workflows, and delivering polished,
        production-ready results.
      </p>

      <p class="text-xl font-medium text-muted">
        Outside of work, you&rsquo;ll find me on my mountain bike, speeding down
        singletrack through the forests of the Pacific Northwest.
      </p>

      <p class="text-xl font-medium text-muted">
        Stay curious. Stay humble. Keep creating.
      </p>

      <div class="handwritten-name translate-y-3">
        <span class="sr-only">Nathan Searles</span>
      </div>
    </div>
  </div>
</section>

<style>
  .handwritten-name {
    width: 18rem;
    aspect-ratio: 400 / 65;
    background-color: var(--foreground);
    mask: url("/images/nathan-searles-signature.svg") no-repeat center;
    mask-size: contain;
  }
</style>
