<h2 id="work-title" class="sr-only">Work</h2>
<section class="px-10 py-20" aria-labelledby="work-title">
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-gray-600 col-span-2 row-span-2 w-full h-full rounded-xs">
    </div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>

    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>

    <div class="bg-gray-600 aspect-video col-span-1 row-span-1 rounded-xs">
    </div>
    <div class="bg-gray-600 col-span-2 row-span-2 w-full h-full rounded-xs">
    </div>
    <div class="bg-gray-600 aspect-video col-span-1 row-span-1 rounded-xs">
    </div>

    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>

    <div class="bg-gray-600 aspect-video col-span-3 row-span-3 rounded-xs">
    </div>

    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>

    <div class="bg-gray-600 col-span-2 row-span-2 w-full h-full rounded-xs">
    </div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>
    <div class="bg-gray-600 aspect-video rounded-xs"></div>
  </div>
</section>
