.RippleContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.Ripple {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.25;
  background-color: #fff;
  animation-name: ripple;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  mix-blend-mode: screen;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
