---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta
      name="description"
      content="I’m a developer and tech lead, building thoughtful, accessible, design-driven digital experiences."
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <div class="noise"></div>
    <div class="color-overlay-01"></div>
    <div class="color-overlay-02"></div>
  </body>
</html>
<style>
  .noise {
    position: absolute;
    inset: 0;
    background: url("/images/noise.svg");
    background-size: 250px;
    background-position: 0 0;
    background-repeat: repeat;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    opacity: 0.45;
    filter: saturate(0) invert(1);
  }
  .color-overlay-01 {
    position: absolute;
    inset: 0;
    background: hsl(200, 76%, 92%);
    pointer-events: none;
    z-index: 9999;
    opacity: 0.45;
    mix-blend-mode: multiply;
  }
  .color-overlay-02 {
    position: absolute;
    inset: 0;
    background: hsl(201, 78%, 22%);
    pointer-events: none;
    z-index: 9999;
    opacity: 0.25;
    mix-blend-mode: lighten;
  }
</style>
