---
import "@/styles/global.css";
import Analytics from "@vercel/analytics/astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      property="og:image"
      content="https://nathansearles.com/images/nathan-searles-og.jpg"
    />
    <meta
      property="twitter:image"
      content="https://nathansearles.com/images/nathan-searles-og.jpg"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Nathan Searles" />
    <meta
      property="twitter:description"
      content="I’m a developer and tech lead, building thoughtful, accessible, design-driven digital experiences."
    />
    <meta property="og:site_name" content="Nathan Searles" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nathansearles.com" />
    <meta property="og:title" content="Nathan Searles" />
    <meta
      property="og:description"
      content="I’m a developer and tech lead, building thoughtful, accessible, design-driven digital experiences."
    />
    <meta
      property="og:image"
      content="https://nathansearles.com/images/nathan-searles-og.jpg"
    />
    <meta property="og:image:width" content="1200" />
    <title>{title}</title>
    <meta
      name="description"
      content="I’m a developer and tech lead, building thoughtful, accessible, design-driven digital experiences."
    />
    <Analytics />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <div class="noise"></div>
  </body>
</html>
<style>
  .noise {
    position: absolute;
    inset: 0;
    background: url("/images/noise.svg");
    background-size: 250px;
    background-position: 0 0;
    background-repeat: repeat;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    opacity: 0.25;
    filter: saturate(0) invert(1);
  }
</style>
