// Inter: https://rsms.me/inter/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/Inter-Regular.woff2") format("woff2"),
    url("/static/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/static/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("/static/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/Inter-Bold.woff2") format("woff2"),
    url("/static/fonts/Inter-Bold.woff") format("woff");
}

@mixin regular-font() {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin semibold-font() {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin bold-font() {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
}
