img {
  &.image__loading {
    transition: opacity 600ms ease-out;
    opacity: 0;
  }

  &.image__loaded {
    opacity: 1;
  }
}

picture,
div {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
