html {
  font-size: 18px;
  line-height: 30px;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  @include regular-font;
  margin: 0;
  color: $color-secondary;
  background-color: #fafafa;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.011em;

  /* Disable tap highlight */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#siteWrapper {
  display: grid;
  grid-template-columns: [leftGutter] 1fr [content] 10fr [rightGutter] 1fr;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  padding-bottom: 96px;
  & > div {
    grid-column: content;
  }

  &.dark {
    background-color: #111;
  }
}

.page-hero {
  padding: 24px 0 48px;
  text-align: center;
  @include breakpoint(lg) {
    padding: 0 calc(100vw / 16) 48px;
  }

  h3:first-of-type {
    margin-top: 0;
  }
}

.page-body {
  padding: 16px 0;

  h3:first-of-type {
    margin-top: 0;
  }
}

.layout-info {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: [image] 5fr [content] 5fr;
    row-gap: 24px;
    column-gap: 24px;
  }

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: [gutter] 1fr [image] 3fr [content] 4fr [gutter] 1fr;
    row-gap: 24px;
    column-gap: 24px;
  }

  & > div {
    display: flex;
  }

  .portrait {
    grid-column: image;
  }

  .content {
    grid-column: content;
    padding-top: 24px;
    @include breakpoint(md) {
      padding-left: 24px;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.shadow {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
    0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.04),
    0 16px 32px rgba(0, 0, 0, 0.04), 0 32px 64px rgba(0, 0, 0, 0.04);
}

.caption {
  font-size: 0.6rem;
  color: $color-secondary;
  text-align: center;
  a {
    color: $color-secondary;
    text-decoration: none;
  }
}
