$bg-secondary: "bg-secondary";
$bg: "bg";
$text-secondary: "text-secondary";
$text: "text";

$themes: (
  default: (
    $bg: $color-off-white,
    $bg-secondary: $color-white,
    $text-secondary: rgba($color-black, 0.75),
    $text: $color-black
  ),
  dark: (
    $bg: $color-off-black,
    $bg-secondary: $color-black,
    $text-secondary: rgba($color-white, 0.45),
    $text: rgba($color-white, 0.85)
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    &.theme--#{$theme},
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
