// Breakpoint values
// Import: @use "./_breakpoint.scss";
// Usage: @media (min-width: breakpoint.$sm) { /* styles go here */ }

$xs: 20rem; // 320px
$sm: 40rem; // 640
$md: 60rem; // 960
$lg: 80rem; // 1280
$xl: 90rem; // 1440
$xxl: 120rem; // 1920
