$spacing: 12px;
$max-width: 1280px;
$color-primary: hsl(48°, 100%, 62%);
$color-secondary: hsl(0°, 0%, 29%);
$color-black: hsl(0°, 0%, 13%);
$color-gray: hsl(0°, 0%, 29%);
$color-white: hsl(0°, 0%, 97%);
