@import "./_variables.scss";

:root {
  --primary: #4a49ff;
  --background: #141421;
  --background-secondary: #262632;
  --background-inverted: rgba(0, 0, 0, 0.85);
  --font-primary: rgba(255, 255, 255, 1);
  --font-secondary: rgba(255, 255, 255, 0.45);
  --font-inverted: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  background-color: var(--background);
  color: var(--font-secondary);
  /* Disable tap highlight */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--primary);
  color: var(--font-inverted);
}

h1,
.h1 {
  font-size: 3.75rem;
  line-height: 3.95rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--font-primary);
  @media (min-width: $sm) {
    font-size: 5.25rem;
    line-height: 5.5rem;
    margin-bottom: 3rem;
  }
  &.smaller {
    font-size: 2.125rem;
  }
  &.larger {
    font-size: 2.6rem;
    line-height: 3.5rem;
    margin-bottom: 2.5rem;
    margin-top: 0;

    @media (min-width: $sm) {
      font-size: 5.25rem;
      line-height: 5.5rem;
      margin-bottom: 3rem;
    }
  }
  + h2 {
    margin-top: 0;
    @media (min-width: $sm) {
      margin-top: -2.5rem;
    }
  }
}
h2,
.h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--font-primary);
}
h3,
.h3 {
  font-size: 2.125rem;
  line-height: 2.5625rem;
  margin-top: 4rem;
  margin-bottom: 0;
  font-weight: 700;
  color: var(--font-primary);
}
h4,
.h4 {
  font-size: 1.875rem;
  line-height: 2.5625rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--font-primary);
}
h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary);
}
p,
ul,
ol,
pre,
table,
blockquote {
  font-size: 1.375rem;
  line-height: 2.0625rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.5rem;
  @media (min-width: $md) {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
p strong {
  font-weight: inherit;
  color: var(--font-primary);
}
a {
  cursor: pointer;
  &:link,
  &:visited {
    color: var(--font-primary);
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
  &:hover,
  &:active {
    border-bottom: 2px solid var(--font-primary);
  }
}

aside {
  margin: 6rem 0;
  padding: 2rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.05);
  p {
    margin: 0;
  }
}

.larger {
  font-size: 1.25rem;
  line-height: 2rem;
  @media (min-width: $sm) {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.portrait {
  width: 170px;
  height: 170px;
  margin: 0 auto 3rem;
}

.main-project {
  h4 {
    margin-bottom: 0;
  }
  a {
    &:link,
    &:visited {
      color: var(--font-secondary);
    }
    &:hover,
    &:active {
      border-color: var(--font-secondary);
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
  max-width: 100%;
  overflow: hidden;
  margin: 72px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  border-radius: 0.75rem;
  overflow: hidden;
}

.media {
  width: 100%;
  display: block;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.emoji {
  color: var(--font-primary);
  opacity: 1;
  &--larger {
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;

    @media (min-width: $sm) {
      font-size: 5.25rem;
      line-height: 5.5rem;
      margin-bottom: 1rem;
    }
  }
}

.project-image {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.intro {
  margin-bottom: 4rem;
}

.topLayer {
  margin-top: calc(-6rem - 44px);
  padding: 4rem 0;
  min-height: calc(100vh);
  position: relative;
  z-index: 10;
  background-color: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: $sm) {
    margin-top: calc(-8rem - 44px);
    min-height: calc(100vh);
    padding: 4rem 0;
  }
  p {
    margin-bottom: 0;
  }
}

.lowerLayer {
  position: sticky;
  min-height: 100vh;
  padding-top: 5rem;
  --content-layer-mask-opacity: 1;

  @media (min-width: $sm) {
    padding-top: 4rem;
  }

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: var(--background);
    opacity: var(--content-layer-mask-opacity);
  }
}
