:root {
  --primary-color: #fde300;
  --background-color: #121212;
  --primary-font-color: #ffffff;
  --secondary-font-color: #9b9b9b;
  --font-size-xl: 2.25rem;
  --font-size-lg: 1.5rem;
  --spacing-xl: 2.75rem;
  --gutter: 1rem;
  --dash-width: 1.75rem;
  --dash-height: 2px;
}

@media (min-width: 960px) {
  :root {
    --font-size-xl: 3.75rem;
    --font-size-lg: 2rem;
    --spacing-xl: 4.5rem;
    --gutter: 48px;
    --dash-width: 3rem;
    --dash-height: 4px;
  }
}

@media (min-width: 1280px) {
  :root {
    --font-size-xl: 4rem;
    --font-size-lg: 2rem;
    --spacing-xl: 4.5rem;
    --gutter: 48px;
    --dash-width: 3rem;
    --dash-height: 4px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--background-color);
  color: var(--primary-font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

.focus-visible {
  outline-offset: 0.25rem;
  outline: 0.25rem;
  outline-style: auto;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[hidden] {
  display: none !important;
}

h1,
.h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--primary-font-color);
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 1.25;
}

h2,
.h2 {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  color: var(--primary-font-color);
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 1.25;
}

h3,
.h3 {
  margin-block: 0;
  color: var(--primary-font-color);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.25;
}

h4,
.h4 {
  margin-block-start: 0;
  margin-block-end: 1.5rem;
  color: var(--primary-font-color);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.25;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 1.35;
  color: var(--secondary-font-color);
  letter-spacing: -0.02em;
  line-height: 1.25;
}

strong {
  font-weight: 400;
  color: var(--primary-font-color);
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

a:link,
a:visited {
  color: var(--primary-font-color);
  font-weight: 400;
  text-decoration: underline;
  transition: color 180ms ease-in-out;
}

a:hover,
a:active {
  color: var(--primary-color);
  text-decoration: underline;
}
