@use "./variables";
@import "./reset";

:root {
  // Light theme
  // --primary: #325aec;
  // --background: #fefefe;
  // --font-primary: #111;
  // --font-secondary: #777;

  // Default theme
  --primary: #00a9fd;
  --background: #141414;
  --font-primary: #fff;
  --font-secondary: #a1a1a1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Robot Flex", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--font-secondary);
  display: flex;
  justify-content: center;
}

body,
body > div {
  width: 100%;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--primary);
  color: #fff;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

.focus-visible {
  outline-offset: 0.25rem;
  outline: 0.25rem;
  outline-style: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
.h1 {
  font-size: 6rem;
  line-height: 0.9;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--font-primary);
  font-weight: 1000;
  font-variation-settings: "wght" 1000, "wdth" 125;
  text-transform: uppercase;
  @media (min-width: variables.$md) {
    font-size: 7.25rem;
  }
}
h2,
.h2 {
  font-size: 2.85rem;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  color: var(--font-primary);
  font-weight: 800;
  font-variation-settings: "wght" 800, "wdth" 125;
  text-transform: uppercase;
  @media (min-width: variables.$md) {
    font-size: 3rem;
  }
}
h3,
.h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--font-primary);
  font-weight: 800;
  font-variation-settings: "wght" 800, "wdth" 100;
}
p,
ul,
ol,
pre,
table,
blockquote {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  font-variation-settings: "wght" 400, "wdth" 100;
  margin-top: 0;
  margin-bottom: 1.5rem;
  strong {
    font-weight: 600;
    font-variation-settings: "wght" 600, "wdth" 100;
    color: var(--font-primary);
  }
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

hr,
.hr {
  border: 1px solid var(--font-secondary);
  margin: 3rem 0 3.5rem;
}

a {
  &:link,
  &:visited {
    color: var(--font-primary);
    font-weight: 600;
    font-variation-settings: "wght" 600, "wdth" 100;
    text-decoration: underline;
    transition: color 180ms ease-in-out;
  }
  &:hover,
  &:active {
    color: var(--primary);
    text-decoration: underline;
  }
}

.emoji {
  font-size: 5.25rem;
  margin-bottom: 2rem;
}
