@use "@styles/variables";
@import "@styles/reset";

:root {
  --primary: #fde300;
  --background: #121212;
  --font-primary: #fff;
  --font-secondary: #a8a8a8;
  --font-size-xl: 1.875rem;
  --font-size-lg: 1.25rem;
  --font-size-md: 1.5rem;
  --spacing-xl: 2.25rem;
  --gutter: 16px;
  --dash-width: 1.75rem;
  --dash-height: 2px;
  @media (min-width: variables.$md) {
    --font-size-xl: 4rem;
    --font-size-lg: 2rem;
    --spacing-xl: 4.5rem;
    --gutter: 48px;
    --dash-width: 3rem;
    --dash-height: 4px;
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  color: var(--font-secondary);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--primary);
  color: var(--background);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

.focus-visible {
  outline-offset: 0.25rem;
  outline: 0.25rem;
  outline-style: auto;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[hidden] {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
.h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--font-primary);
  font-size: var(--font-size-xl);
  font-weight: 400;
}

h2,
.h2 {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  color: var(--font-primary);
  font-size: var(--font-size-xl);
  font-weight: 400;
}

h3,
.h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--font-primary);
  font-size: var(--font-size-xl);
  font-weight: 400;
}

h4,
.h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--font-primary);
  font-size: var(--font-size-xl);
  font-weight: 400;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: var(--font-size-xl);
  font-weight: 400;
  strong {
    font-weight: 400;
    color: var(--font-primary);
  }
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  &:link,
  &:visited {
    color: var(--font-primary);
    font-weight: 400;
    text-decoration: underline;
    transition: color 180ms ease-in-out;
  }
  &:hover,
  &:active {
    color: var(--primary);
    text-decoration: underline;
  }
}

.emoji {
  font-size: 5.25rem;
  margin-bottom: 2rem;
}
