.label {
  display: inline-block;
  position: relative;
  margin: calc(var(--spacing-xl) / 2) 0 var(--spacing-xl);
  padding-left: calc(var(--dash-width) + 1.25rem);
  font-size: var(--font-size-xl);
  color: var(--font-secondary);
  letter-spacing: -0.0625rem;
  font-weight: 400;
  &::before {
    content: " ";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    height: var(--dash-height);
    width: var(--dash-width);
    background-color: var(--font-secondary);
  }
}

.marginBottom {
  margin-bottom: var(--spacing-xl);
}
