.portraitContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.portrait {
  width: 100%;
  max-width: 150px;
  height: auto;
  opacity: 0;
  animation: fadeIn 600ms ease-out 200ms forwards;
}

p.label {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 0.15em;
  font-weight: 800;
  margin-top: 3.5rem;
  margin-bottom: 2.25rem;
  padding-left: 2.25rem;
  color: var(--primary);

  &::before {
    content: " ";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    height: 2px;
    width: 1.5rem;
    background-color: var(--primary);
  }
}

.marginBottom {
  margin-bottom: 4.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
