@import "./variables";

.project {
  margin: 6rem 0;
  @media (min-width: $md) {
    margin: 12rem 0;
  }
  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 2rem;
  }
  h3 {
    color: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
  }
  h4 {
    font-size: 2.6rem;
    line-height: 1.1;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: var(--font-primary);
    font-weight: 800;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--font-primary);
    font-weight: 500;
  }
  p {
    font-size: 1.35rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
    strong {
      color: #fff;
    }
  }
}

.content {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 100%;
  @media (min-width: $sm) {
    width: 90%;
  }
  @media (min-width: $md) {
    width: 80%;
    max-width: 800px;
  }
}

.featureImage {
  position: relative;
  max-width: $xl;
  margin: 2rem auto;
  @media (min-width: $md) {
    margin: 4rem auto;
  }
}
