.project {
  width: 100%;
  h4 {
    margin-bottom: 0;
  }
  a {
    &:link,
    &:visited {
      color: var(--font-secondary);
    }
    &:hover,
    &:active {
      border-color: var(--font-secondary);
    }
  }
}

.projectContent {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  max-width: 800px;
}

.projectImage {
  width: 100%;
  padding: 2rem 1rem 4rem;
}
