@import "./variables";

.resume {
  margin: 6rem 0;
  @media (min-width: $md) {
    margin: 12rem 0;
  }
  h1 {
    margin-bottom: 0.5rem;
    // font-size: 5rem;
  }
  h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 2rem;
  }
  h3 {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
  }
  h4 {
    font-size: 2.6rem;
    line-height: 1.1;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: var(--font-primary);
    font-weight: 800;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--font-primary);
    font-weight: 500;
  }
  p {
    font-size: 1.35rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 48ch;
    margin-bottom: 2.5rem;
    strong {
      color: #fff;
    }
  }
  a {
    &:link,
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active {
      color: #fff;
      text-decoration: underline;
    }
  }
}
.portraitContainer {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portrait {
  width: 80%;
  max-width: 250px;
  height: auto;
}
